.account-page {
  flex-direction: column;
}

.logout-button {
  padding: 0.7em;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  margin-top: 1em;
  max-width: 400px;
}
