<table>
  <thead>
    <tr>
      <th>Organisation</th>
      <th *ngIf="organizations.length > 0">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="organizations.length === 0">
      <td colspan="3">Aucune organisation</td>
    </tr>
    <tr *ngFor="let organization of organizations">
      <td>{{ organization.name }}</td>
      <td *ngIf="organizations.length > 0">
        <button class="red" (click)="onOrganizationDelete(organization.name)">
          Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
