<div class="home-tiles">
  <div>
    <div class="blue" (click)="navigateTo('/administration/loaned/list')">
      <h1>Gérer les emprunts</h1>
    </div>
    <div class="yellow" (click)="navigateTo('/administration/equipment/home')">
      <h1>Gérer les équipements</h1>
    </div>
    <div class="green" (click)="navigateTo('/administration/account/list')">
      <h1>Gérer les utilisateurs</h1>
    </div>
    <div class="grey" (click)="navigateTo('/account')">
      <h1>Gérer mon compte</h1>
    </div>
  </div>
</div>
