@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --light-blue: #ddf2ff;
  --blue: #00b7d7;
  --blue-hover: #00a3c2;
  --green: #50d7b3;
  --green-hover: #3dbf9b;
  --yellow: #e6cb31;
  --yellow-hover: #d9c22b;
  --orange: #ff8c00;
  --orange-hover: #e67a00;
  --red: #ff4d4d;
  --red-hover: #e63a3a;
  --light-grey: #e0e0e0;
  --grey: #b0b0b0;
  --grey-hover: #a0a0a0;
}

* {
  font: unset;
}

body {
  all: unset;
  font-family: "KoHo", sans-serif;
  font-weight: 400;
}

button {
  width: 100%;
  max-width: 400px;
  padding: 0.7em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--grey);
}

button:hover:disabled {
  background-color: var(--grey);
}

.blue {
  background-color: var(--blue);
}

.blue:hover {
  background-color: var(--blue-hover);
}

.green {
  background-color: var(--green);
}

.green:hover {
  background-color: var(--green-hover);
}

.yellow {
  background-color: var(--yellow);
}

.yellow:hover {
  background-color: var(--yellow-hover);
}

.orange {
  background-color: var(--orange);
}

.orange:hover {
  background-color: var(--orange-hover);
}

.red {
  background-color: var(--red);
}

.red:hover {
  background-color: var(--red-hover);
}

.grey {
  background-color: var(--grey);
}

.grey:hover:not(.disabled) {
  background-color: var(--grey-hover);
}
