table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--light-grey);
  padding: .5em;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--grey);
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
