.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
}

.button {
  padding: 0.5em;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.red {
  background-color: red;
}

.button.red:hover:not(.disabled) {
  background-color: #CC0000;
}

.green {
  background-color: green;
}

.button.green:hover:not(.disabled) {
  background-color: #006e00;
}

.yellow {
  background-color: yellow;
}

.button.yellow:hover:not(.disabled) {
  background-color: #b3b300;
}

.grey {
  background-color: grey;
}

.button.grey:hover:not(.disabled) {
  background-color: #777777;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
