.home-tiles > div {
  display: flex;
  gap: 1em;
}

.home-tiles > div > div {
  border-radius: 30px;
  padding: 3em 2em;
  cursor: pointer;
}

.green {
  background-color: #50d7b3;
}

.green:hover {
  background-color: #3dbf9b;
}

.yellow {
  background-color: #e6cb31;
}

.yellow:hover {
  background-color: #d9c22b;
}

.blue {
  background-color: #37b2ff;
}

.blue:hover {
  background-color: #2f9ed6;
}
