<table class="table">
  <thead>
    <tr>
      <th>État</th>
      <th>Date de prêt</th>
      <th>Date de retour</th>
      <th>Code</th>
      <th>Nom</th>
      <th>Utilisateur</th>
      <th>Organisation</th>
      <th>Salle</th>
      <th>Salle de stockage</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let loan of loans">
      <td
        [ngClass]="{
          green: loan.state.name === 'LOANED',
          yellow:
            loan.state.name === 'REQUESTED' ||
            loan.state.name === 'RETURN_REQUESTED',
          red: loan.state.name === 'REFUSED',
          grey: loan.state.name === 'RETURNED'
        }"
      >
        {{ loan.state.display_name_french }}
      </td>
      <td>{{ loan.loan_date | date : "dd/MM/yyyy" }}</td>
      <td [ngClass]="{ red: isReturnDateExceeded(loan.return_date) }">
        {{ loan.return_date | date : "dd/MM/yyyy" }}
      </td>
      <td>{{ loan.equipment.code }}</td>
      <td>{{ loan.equipment.reference.name }}</td>
      <td>
        {{ loan.user.first_name }} {{ loan.user.last_name.toUpperCase() }}
      </td>
      <td>{{ loan.organization?.name || "-" }}</td>
      <td>{{ loan.room.name }}</td>
      <td>{{ loan.equipment.stockage_room.name }}</td>
      <td class="actions">
        <div
          class="button green"
          [ngClass]="{ disabled: loan.state.name !== 'REQUESTED' }"
          (click)="
            loan.state.name === 'REQUESTED' &&
              onLoanRequestAcceptation(loan.equipment.code)
          "
        >
          Accepter la demande d'emprunt
        </div>
        <div
          class="button red"
          [ngClass]="{ disabled: loan.state.name !== 'RETURN_REQUESTED' }"
          (click)="
            loan.state.name === 'RETURN_REQUESTED' &&
              onLoanReturnRequestAcceptation(loan.equipment.code)
          "
        >
          Accepter la demande de retour
        </div>
      </td>
    </tr>
  </tbody>
</table>
