<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Référence</th>
      <th>Réservé aux organisations</th>
      <th>Salle de stockage</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="availableEquipments.length === 0">
      <td colspan="5">Aucun équipement disponible</td>
    </tr>
    <tr *ngFor="let availableEquipment of availableEquipments">
      <td>{{ availableEquipment.code }}</td>
      <td>{{ availableEquipment.reference.name }}</td>
      <td>
        {{
          availableEquipment.reference.type.organization_only ? "Oui" : "Non"
        }}
      </td>
      <td>{{ availableEquipment.stockage_room.name }}</td>
      <td>
        <div class="actions">
          <button
            class="green"
            (click)="
              onLoanRequest(
                availableEquipment.reference.type.organization_only,
                availableEquipment.code
              )
            "
          >
            Demander un emprunt
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
