<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div *ngIf="!organizationOnly">
    <label for="loanType">Pour qui souhaitez-vous emprunter ?</label>
    <select
      formControlName="loanType"
      (change)="onLoanTypeChange($any($event.target).value)"
      [ngClass]="{
        'invalid-input': submitted && formControls['loanType'].invalid,
      }"
    >
      <option value="" disabled hidden selected>Choisir une option</option>
      <option value="INDIVIDUAL">Pour moi</option>
      <option value="ORGANIZATION">Pour une organisation</option>
    </select>
    <div
      *ngIf="submitted && formControls['loanType'].invalid"
      class="invalid-indicator"
    >
      <div>Le type d'emprunt est requis</div>
    </div>
  </div>

  <div *ngIf="organizationOnly || isOrganizationSelected">
    <label for="organization">Organisation</label>
    <select
      formControlName="organization"
      [ngClass]="{
        'invalid-input': submitted && formControls['organization'].invalid,
      }"
    >
      <option value="" disabled hidden selected>
        Choisir une organisation
      </option>
      <option
        *ngFor="let organization of userOrganizations"
        [value]="organization.name"
      >
        {{ organization.name }}
      </option>
    </select>
    <div
      *ngIf="submitted && formControls['organization'].invalid"
      class="invalid-indicator"
    >
      <div>L'organisation est requise</div>
    </div>
  </div>

  <div>
    <label for="room">Salle</label>
    <select
      formControlName="room"
      [ngClass]="{
        'invalid-input': submitted && formControls['room'].invalid,
      }"
    >
      <option value="" disabled hidden selected>Choisir une salle</option>
      <option *ngFor="let room of rooms" [value]="room.name">
        {{ room.name }}
      </option>
    </select>
    <div
      *ngIf="submitted && formControls['room'].invalid"
      class="invalid-indicator"
    >
      <div>La salle est requise</div>
    </div>
  </div>

  <button class="blue" type="submit">Demander un emprunt</button>
</form>
