<table>
  <thead>
    <tr>
      <th>Référence</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="references.length === 0">
      <td colspan="3">Aucune référence</td>
    </tr>
    <tr *ngFor="let reference of references">
      <td>{{ reference.name }}</td>
      <td>{{ reference.type.name }}</td>
      <td>
        <div class="actions">
          <button class="red" (click)="onReferenceDelete(reference.name)">
            Supprimer
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
