<form [formGroup]="loanRequestForm" (ngSubmit)="onSubmit()" class="form">
  <div>
    <label for="loanType">Pour qui souhaitez-vous emprunter ?</label>
    <select formControlName="loanType" (change)="onLoanTypeChange($any($event.target).value)">
      <option value="INDIVIDUAL">Pour moi</option>
      <option value="ORGANIZATION">Pour une organisation</option>
    </select>
  </div>
  <div *ngIf="isOrganizationSelected">
    <label for="organization">Organisation</label>
    <select formControlName="organization">
      <option *ngFor="let organization of userOrganizations" [value]="organization.id">{{ organization.name }}</option>
    </select>
  </div>
  <button type="submit">Demander un emprunt</button>
</form>
