<table class="table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nom</th>
      <th>Réservé aux organisations</th>
      <th>Salle de stockage</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let availableEquipment of availableEquipments">
      <td>{{ availableEquipment.code }}</td>
      <td>{{ availableEquipment.reference.name }}</td>
      <td>
        {{
          availableEquipment.reference.type.organization_only ? "Oui" : "Non"
        }}
      </td>
      <td>{{ availableEquipment.stockage_room.name }}</td>
      <td>
        <div
          class="button green"
          (click)="
            onLoanRequest(
              availableEquipment.reference.type.organization_only,
              availableEquipment.code
            )
          "
        >
          Demander un emprunt
        </div>
      </td>
    </tr>
  </tbody>
</table>
