<table class="table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{ account.email_address }}</td>
      <td>{{ account.first_name }}</td>
      <td>{{ account.last_name.toUpperCase() }}</td>
      <td>{{ account.role.display_name_french }}</td>
      <td class="actions">
        <button
          class="red"
          (click)="onAccountDelete(account.email_address)"
          [disabled]="account.role.name === 'ADMINISTRATOR'"
        >
          Supprimer
        </button>
        <button
          class="blue"
          (click)="viewOrganizations(account.email_address)"
        >
          Voir organisations
        </button>
      </td>
    </tr>
  </tbody>
</table>
